/* From Uiverse.io by alexruix */
.input {
    max-width: 190px;
    height: 44px;
    background-color: #05060f0a;
    border-radius: 0.7rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition:
        border-color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
        color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
        background 0.2s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
    color: #ffffff;
}

.input::placeholder {
    color: #000000;
    font-style: italic;
    opacity: 0.5;
}

.label {
    display: block;
    margin-bottom: 0.3rem;
    font-size: 0.9rem;
    font-weight: bold;
    color: #50009b99;
    transition: color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
}

.input-group {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px 0 24px 0;
    justify-content: center;
}

.input:hover,
input:focus {
    outline: none;
    border-color: #05060f;
}

.label:hover {
    color: #05060fc2;
}

.add-btn {
    height: 44px;
    padding: 0 1rem;
    border-radius: 1rem;
    background: linear-gradient(90deg, #00c6ff 0%, #0072ff 100%);
    color: #fff;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition:
        background 0.8s,
        transform 0.8s;
}

.add-btn:hover {
    background: linear-gradient(90deg, #0072ff 0%, #00c6ff 100%);
    transform: translateY(-2px) scale(1.04);
    transition:
        background 0.8s,
        transform 1s;
}
