*
!package.json
!yarn.lock
!.yarnrc.yml
!.pnp.cjs
!.pnp.loader.mjs
!tsconfig.json
!process.yml
!README.md
!LICENSE

!apps-api/**/*
!packages-api/**/*
!apps-ui/**/*
!packages-ui/mwe-ui-core/**/*
!packages-ui/mwe-tailwindcss-config/**/*

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions