name: mwe
services:
    resource-hub-db:
        container_name: resource-hub-db
        restart: always
        env_file:
            - .env
        build:
            context: .
            dockerfile: ResourceHubDB.Dockerfile
        # Exposed only during API development. Remove or comment out in production.
        expose:
            - '27017'
        ports:
            - 27017:27017
        volumes:
            - 'resource-hub-db-volume:/home/node/db/resource-hub-db-volume'
        environment:
            MONGO_INITDB_DATABASE: ${MONGO_DB}
            MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
            MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    resource-hub-api:
        container_name: resource-hub-api
        restart: always
        depends_on:
            - resource-hub-db
        env_file:
            - .env
        build:
            context: .
            dockerfile: ResourceHubApi.Dockerfile
        # Exposed only during API development. Remove or comment out in production.
        expose:
            - '4000'
        ports:
            - 4000:4000
        healthcheck:
            test: ['CMD', 'curl', '-f', 'http://resource-hub-api:4000/health']
            interval: 10s
            timeout: 5s
            retries: 5

    mwe-sleeping-dragon-ui:
        container_name: mwe-sleeping-dragon-ui
        restart: 'always'
        build:
            context: .
            dockerfile: ResourceHubUI.Dockerfile
        depends_on:
            - resource-hub-api
        healthcheck:
            test: ['CMD', 'curl', '-f', 'http://${MWE_RH_UI_HOST}:${MWE_RH_UI_PORT}/v1']
            interval: 10s
            timeout: 5s
            retries: 5
        environment:
            NODE_ENV: production

    resource-hub-gateway:
        container_name: resource-hub-gateway
        restart: always
        env_file:
            - .env
        depends_on:
            mwe-sleeping-dragon-ui:
                condition: service_healthy
            resource-hub-api:
                condition: service_started
        build:
            context: .
            dockerfile: ResourceHubGateway.Dockerfile
            args:
                NGINX_PORT: ${NGINX_PORT}
                MWE_HOST: ${MWE_HOST}
                MWE_RH_UI_PORT: ${MWE_RH_UI_PORT}
                MWE_RH_UI_HOST: ${MWE_RH_UI_HOST}
        expose:
            - '${NGINX_PORT}'
        ports:
            - ${NGINX_PORT}:${NGINX_PORT}
            - ${NGINX_PORT}:443/udp

    resource-hub-builder:
        build:
            context: .
            dockerfile: ResourceHubBuilder.Dockerfile
            target: resource-hub-builder

volumes:
    resource-hub-db-volume:
        driver: local
