/* PLEASE DONT EDIT THIS FILE  */
/* ITS MUST NEED FOR THE SQUARE DESIGN  */
/* PLEASE DONT EDIT THIS FILE  */

@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    padding: 20px;
    align-items: center;
    margin: 10px;
}

.image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%; 
}
