@tailwind base;
@tailwind components;
@tailwind utilities;

@layer component {
    .nav-item {
        @apply flex items-center transition-[background-color] duration-[5s] ease-[ease] border-[#ddd] hover:bg-[#eabebe] rounded-full hover:text-[white] hover:text-[bold] p-2;
    }
    .nav-item.selected {
        @apply bg-[transparent] text-[white];
    }
    .icon-container {
        @apply flex justify-center items-center min-w-[20px] max-w-[40px] max-h-10 min-h-[20px];
        @apply bg-transparent;
    }
    .icon {
        @apply w-full h-auto;
    }
    .label {
        @apply text-base font-[bold];
        @apply hidden !important;
        /* Hide on medium screens and below with higher specificity */
    }

    .selected {
        @apply bg-[transparent] text-[white];
    }

    .default-nav {
        @apply fixed top-0 left-0 w-full;
    }

    .footer {
        @apply flex h-20 justify-center w-full bg-[#007bff] text-[white] mt-[30px] mb-[5px];
        clip-path: polygon(40px 0, 100% 0, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0 100%, 0 40px);
    }

    .image {
        width: 400px;
        height: 400px;
        object-fit: cover;
        border-radius: 10%;
    }

    .gap-bottom {
        padding-bottom: 1000px;
    }
}
