/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}
@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}
body {
    @apply text-[rgb(var(--foreground-rgb))];
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}
@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer component {
    .default-nav {
        @apply fixed top-0 left-0 w-full;
    }
}

.rounded-nav {
    @apply bg-[aliceblue] text-[rgb(18,2,2)] box-border flex justify-end items-center h-[75px] rounded-[10px] border-[6px] border-solid border-[#070707];
    background: linear-gradient(45deg, #e3e0ff, #306825);
    ul {
        @apply flex w-[350px];
        li {
            @apply relative w-[70px] h-[70px] flex items-center justify-center z-[1];
            list-style: none;
            a {
                @apply relative flex justify-center items-center flex-col w-full text-center font-medium;
                .Icon img {
                    @apply w-10 h-10 invert relative block leading-[75px] text-[1.5em] text-center transition-[0.5s] text-white;
                }
                .Text {
                    @apply absolute text-white font-normal text-[0.8em] tracking-wider opacity-0 translate-y-[25px] transition-[0.5s];
                }
                .Circle {
                    @apply absolute block w-[50px] h-[50px] translate-y-[-34px] rounded-[50%] border-2 border-solid border-white scale-0;
                    background: transparent;
                }
            }
        }
        li.active a .Icon img {
            @apply translate-y-[-34px];
        }
        li.active a .Text {
            @apply translate-y-2.5 opacity-100;
        }
        li.active a .Circle {
            @apply translate-y-[-33px] scale-100;
        }
        .Indicator {
            @apply absolute w-[69px] h-[70px] flex justify-center items-center rounded-[50%] border-[6px] border-solid border-[#070707] top-[50px] before:content-[''] before:absolute before:left-[-22px] before:w-5 before:h-5 before:shadow-[1px_-10px_0_#070707] before:rounded-tr-[22px] before:top-2/4 after:content-[''] after:absolute after:right-[-22px] after:w-5 after:h-5 after:shadow-[-1px_-10px_0_#070707] after:rounded-tl-[22px] after:top-2/4;
            background: linear-gradient(45deg, #306825, #e3e0ff);
        }
        li:nth-child(1).active ~ .Indicator {
            @apply translate-x-[calc(70px_*_0)];
        }
        li:nth-child(2).active ~ .Indicator {
            @apply translate-x-[calc(70px_*_1)];
        }
    }
}

.container {
    background: #222;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
