name: MWE E2E Tests

permissions:
  contents: read

on:
  workflow_call:
    inputs:
      node-version:
        required: false
        description: Node.js Version
        type: string
        default: "24"
      allow-fail:
        required: false
        type: boolean
        description: Allow workflow to fail
        default: false

jobs:
  test:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm install -g yarn && yarn

      - name: Install Playwright Browsers
        run: yarn playwright install --with-deps

      - name: Run Playwright tests
        run: yarn test:e2e
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
